
    .body {
        font-family: sans-serif;
        background-color: #ffffff;
    }

    .h1, h1 {
        font-size: 2.5rem;
        margin-top: -94px;
    }
    .file-upload {
        padding: 20% 3%;
        margin: 0 auto;
        border-radius: 10px;
        border: solid 1.5px rgba(0,123,255,.5);
        background-color: #d7def3;
    }

    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #1fb264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824b;
        transition: all 0.2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    .file-upload-btn:hover {
        background: #1aa059;
        color: #ffffff;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .file-upload-btn:active {
        border: 0;
        transition: all 0.2s ease;
    }

    .file-upload-content {
        display: none;
        text-align: center;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        width: 92%;
        height: 8rem;
        margin: 0 auto;
        position: relative;
        object-fit: contain;
        border-radius: 10px;
        border: dashed 1.5px #35465d;
        background-color: #ffffff;
    }

    .image-dropping,
    .image-upload-wrap:hover {
        object-fit: contain;
        border-radius: 10px;
        border: solid 1.5px #35465d;
        background-color: var(--white);
    }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

    .drag-text h3 {
        padding: 70px 20px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .file-upload-image {
        max-height: 200px;
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }

    .h4, h4 {
        font-size: 1.5rem;
        padding-bottom: 5rem;
        padding-top: 2rem;
    }

    .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all 0.2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all 0.2s ease;
    }

    .nav-distance {
        padding: 2.3% 8.1%;

    }

    .navbar-light .navbar-brand {
        font-family: NanumSquareR;
        line-height: 1.68;
        text-align: left;
        color: #35465d;
    }

    .section {
        margin-top: 100px;
    }

    .title {
        font-family: NanumSquareR;
        line-height: 1.68;
        text-align: center;
        color: #35465d;
    }

    .subtitle {
        font-family: NanumSquareR;
        line-height: 1.50;
        text-align: center;
        color: #35465d;
    }

    .h2, h2 {
        font-size: 1.25rem;
    }

    .h3, h3 {
        font-size: 1.75rem;
    }
    .youtube-link {   
        font-family: NanumSquareR;
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: #35465d;
        text-decoration: underline;
    }
    .youtube-link:hover {   
        font-family: NanumSquareR;
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: #35465d;
        text-decoration: underline;
    }
